<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gmt.comercial.dao.CostoubigeoMapper">
  <resultMap id="BaseResultMap" type="com.gmt.comercial.model.Costoubigeo">
    <constructor>
      <idArg column="CodUbigeoCosto" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="Descripion" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CostoEnvio" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="Estado" javaType="java.lang.String" jdbcType="CHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CodUbigeoCosto, Descripion, CostoEnvio, Estado
  </sql>
  <select id="selectByExample" parameterType="com.gmt.comercial.model.CostoubigeoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from costoubigeo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from costoubigeo
    where CodUbigeoCosto = #{codUbigeoCosto,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from costoubigeo
    where CodUbigeoCosto = #{codUbigeoCosto,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.gmt.comercial.model.Costoubigeo">
    insert into costoubigeo (CodUbigeoCosto, Descripion, CostoEnvio, 
      Estado)
    values (#{codUbigeoCosto,jdbcType=CHAR}, #{descripion,jdbcType=VARCHAR}, #{costoEnvio,jdbcType=DECIMAL}, 
      #{estado,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gmt.comercial.model.Costoubigeo">
    insert into costoubigeo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="codUbigeoCosto != null">
        CodUbigeoCosto,
      </if>
      <if test="descripion != null">
        Descripion,
      </if>
      <if test="costoEnvio != null">
        CostoEnvio,
      </if>
      <if test="estado != null">
        Estado,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="codUbigeoCosto != null">
        #{codUbigeoCosto,jdbcType=CHAR},
      </if>
      <if test="descripion != null">
        #{descripion,jdbcType=VARCHAR},
      </if>
      <if test="costoEnvio != null">
        #{costoEnvio,jdbcType=DECIMAL},
      </if>
      <if test="estado != null">
        #{estado,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gmt.comercial.model.Costoubigeo">
    update costoubigeo
    <set>
      <if test="descripion != null">
        Descripion = #{descripion,jdbcType=VARCHAR},
      </if>
      <if test="costoEnvio != null">
        CostoEnvio = #{costoEnvio,jdbcType=DECIMAL},
      </if>
      <if test="estado != null">
        Estado = #{estado,jdbcType=CHAR},
      </if>
    </set>
    where CodUbigeoCosto = #{codUbigeoCosto,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gmt.comercial.model.Costoubigeo">
    update costoubigeo
    set Descripion = #{descripion,jdbcType=VARCHAR},
      CostoEnvio = #{costoEnvio,jdbcType=DECIMAL},
      Estado = #{estado,jdbcType=CHAR}
    where CodUbigeoCosto = #{codUbigeoCosto,jdbcType=CHAR}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.gmt.comercial.model.CostoubigeoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from costoubigeo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>