<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gmt.comercial.dao.CourrierMapper">
  <resultMap id="BaseResultMap" type="com.gmt.comercial.model.Courrier">
    <constructor>
      <idArg column="idCourrier" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="Descripion" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="Direccion" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="Observacion" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    idCourrier, Descripion, Direccion, Observacion
  </sql>
  <select id="selectByExample" parameterType="com.gmt.comercial.model.CourrierExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from courrier
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from courrier
    where idCourrier = #{idCourrier,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from courrier
    where idCourrier = #{idCourrier,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gmt.comercial.model.Courrier">
    insert into courrier (idCourrier, Descripion, Direccion, 
      Observacion)
    values (#{idCourrier,jdbcType=INTEGER}, #{descripion,jdbcType=VARCHAR}, #{direccion,jdbcType=VARCHAR}, 
      #{observacion,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gmt.comercial.model.Courrier">
    insert into courrier
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idCourrier != null">
        idCourrier,
      </if>
      <if test="descripion != null">
        Descripion,
      </if>
      <if test="direccion != null">
        Direccion,
      </if>
      <if test="observacion != null">
        Observacion,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idCourrier != null">
        #{idCourrier,jdbcType=INTEGER},
      </if>
      <if test="descripion != null">
        #{descripion,jdbcType=VARCHAR},
      </if>
      <if test="direccion != null">
        #{direccion,jdbcType=VARCHAR},
      </if>
      <if test="observacion != null">
        #{observacion,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gmt.comercial.model.Courrier">
    update courrier
    <set>
      <if test="descripion != null">
        Descripion = #{descripion,jdbcType=VARCHAR},
      </if>
      <if test="direccion != null">
        Direccion = #{direccion,jdbcType=VARCHAR},
      </if>
      <if test="observacion != null">
        Observacion = #{observacion,jdbcType=VARCHAR},
      </if>
    </set>
    where idCourrier = #{idCourrier,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gmt.comercial.model.Courrier">
    update courrier
    set Descripion = #{descripion,jdbcType=VARCHAR},
      Direccion = #{direccion,jdbcType=VARCHAR},
      Observacion = #{observacion,jdbcType=VARCHAR}
    where idCourrier = #{idCourrier,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.gmt.comercial.model.CourrierExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from courrier
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>