<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gmt.comercial.dao.OrdenconsignacionMapper">
  <resultMap id="BaseResultMap" type="com.gmt.comercial.model.Ordenconsignacion">
    <constructor>
      <idArg column="IdOrdenConsignacion" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <idArg column="FechaProgramada" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="IdVenta" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="NroCuota" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="MontoCuota" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="Mora" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="Estado" javaType="java.lang.String" jdbcType="CHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    IdOrdenConsignacion, FechaProgramada, IdVenta, NroCuota, MontoCuota, Mora, Estado
  </sql>
  <select id="selectByExample" parameterType="com.gmt.comercial.model.OrdenconsignacionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from ordenconsignacion
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from ordenconsignacion
    where IdOrdenConsignacion = #{idOrdenConsignacion,jdbcType=INTEGER}
      and FechaProgramada = #{fechaProgramada,jdbcType=DATE}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from ordenconsignacion
    where IdOrdenConsignacion = #{idOrdenConsignacion,jdbcType=INTEGER}
      and FechaProgramada = #{fechaProgramada,jdbcType=DATE}
  </delete>
  <insert id="insert" parameterType="com.gmt.comercial.model.Ordenconsignacion">
    insert into ordenconsignacion (IdOrdenConsignacion, FechaProgramada, 
      IdVenta, NroCuota, MontoCuota, 
      Mora, Estado)
    values (#{idOrdenConsignacion,jdbcType=INTEGER}, #{fechaProgramada,jdbcType=DATE}, 
      #{idVenta,jdbcType=INTEGER}, #{nroCuota,jdbcType=INTEGER}, #{montoCuota,jdbcType=DECIMAL}, 
      #{mora,jdbcType=DECIMAL}, #{estado,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gmt.comercial.model.Ordenconsignacion">
    insert into ordenconsignacion
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idOrdenConsignacion != null">
        IdOrdenConsignacion,
      </if>
      <if test="fechaProgramada != null">
        FechaProgramada,
      </if>
      <if test="idVenta != null">
        IdVenta,
      </if>
      <if test="nroCuota != null">
        NroCuota,
      </if>
      <if test="montoCuota != null">
        MontoCuota,
      </if>
      <if test="mora != null">
        Mora,
      </if>
      <if test="estado != null">
        Estado,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idOrdenConsignacion != null">
        #{idOrdenConsignacion,jdbcType=INTEGER},
      </if>
      <if test="fechaProgramada != null">
        #{fechaProgramada,jdbcType=DATE},
      </if>
      <if test="idVenta != null">
        #{idVenta,jdbcType=INTEGER},
      </if>
      <if test="nroCuota != null">
        #{nroCuota,jdbcType=INTEGER},
      </if>
      <if test="montoCuota != null">
        #{montoCuota,jdbcType=DECIMAL},
      </if>
      <if test="mora != null">
        #{mora,jdbcType=DECIMAL},
      </if>
      <if test="estado != null">
        #{estado,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gmt.comercial.model.Ordenconsignacion">
    update ordenconsignacion
    <set>
      <if test="idVenta != null">
        IdVenta = #{idVenta,jdbcType=INTEGER},
      </if>
      <if test="nroCuota != null">
        NroCuota = #{nroCuota,jdbcType=INTEGER},
      </if>
      <if test="montoCuota != null">
        MontoCuota = #{montoCuota,jdbcType=DECIMAL},
      </if>
      <if test="mora != null">
        Mora = #{mora,jdbcType=DECIMAL},
      </if>
      <if test="estado != null">
        Estado = #{estado,jdbcType=CHAR},
      </if>
    </set>
    where IdOrdenConsignacion = #{idOrdenConsignacion,jdbcType=INTEGER}
      and FechaProgramada = #{fechaProgramada,jdbcType=DATE}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gmt.comercial.model.Ordenconsignacion">
    update ordenconsignacion
    set IdVenta = #{idVenta,jdbcType=INTEGER},
      NroCuota = #{nroCuota,jdbcType=INTEGER},
      MontoCuota = #{montoCuota,jdbcType=DECIMAL},
      Mora = #{mora,jdbcType=DECIMAL},
      Estado = #{estado,jdbcType=CHAR}
    where IdOrdenConsignacion = #{idOrdenConsignacion,jdbcType=INTEGER}
      and FechaProgramada = #{fechaProgramada,jdbcType=DATE}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.gmt.comercial.model.OrdenconsignacionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from ordenconsignacion
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>