<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gmt.comercial.dao.TallaMapper">
  <resultMap id="BaseResultMap" type="com.gmt.comercial.model.Talla">
    <constructor>
      <idArg column="NroTalla" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="Estado" javaType="java.lang.String" jdbcType="CHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    NroTalla, Estado
  </sql>
  <select id="selectByExample" parameterType="com.gmt.comercial.model.TallaExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from talla
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from talla
    where NroTalla = #{nroTalla,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from talla
    where NroTalla = #{nroTalla,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gmt.comercial.model.Talla">
    insert into talla (NroTalla, Estado)
    values (#{nroTalla,jdbcType=INTEGER}, #{estado,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gmt.comercial.model.Talla">
    insert into talla
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nroTalla != null">
        NroTalla,
      </if>
      <if test="estado != null">
        Estado,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nroTalla != null">
        #{nroTalla,jdbcType=INTEGER},
      </if>
      <if test="estado != null">
        #{estado,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gmt.comercial.model.Talla">
    update talla
    <set>
      <if test="estado != null">
        Estado = #{estado,jdbcType=CHAR},
      </if>
    </set>
    where NroTalla = #{nroTalla,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gmt.comercial.model.Talla">
    update talla
    set Estado = #{estado,jdbcType=CHAR}
    where NroTalla = #{nroTalla,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.gmt.comercial.model.TallaExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from talla
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>